  body {font-family: "MS Mincho" ;}
  .section1 img {
    width: 200px;  /* 横幅を200pxに */
}
  
  h1.copy {
    position: relative;
    margin-bottom: 2em;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background: #eee;
  }
  
  h1.copy:before,
  h1.copy:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    background: #eee;
  }
  
  h1.copy:before {
    bottom: -15px;
    left: 30px;
    width: 30px;
    height: 30px;
  }
  
  h1.copy:after {
    bottom: -30px;
    left: 50px;
    width: 15px;
    height: 15px;
  }


.flowbtn5{
  font-family:'Times New Roman',sans-serif;
  border-radius:13px;		
  position:relative;
  display:inline-block;
  width:50px;
  height:50px;
  font-size:33px;
  color:#fff!important;
  transition:.5s;
  text-decoration:none;
  }
  
  .flowbtn5 i{
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  }
  
  .fl_tw1{
  background:#55acee;
  }
  
  .fl_fb1{
  background:#3b5998;
  }
  
  
  .insta_btn5 {
  background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;		
  }
  
  .insta_btn5:before{
  content: '';
  position:absolute;
  top:17px;
  left:-1px;
  width:45px;
  height:34px;
  background:-webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background:radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  }
  
  .insta_btn5 .fa-instagram{
  font-size:40px;	
  }
  
  .flowbtn5 div{
  font-size:11px;
  color:#666;	
  position:relative;
  top:45px;
  }
  
  .flowbtn5:hover{
  -webkit-transform:translateY(-5px);
  -ms-transform:translateY(-5px);
  transform:translateY(-5px);
  text-decoration:none;
  }
  
  ul.snsbtniti{
  padding:0!important;
  list-style-type:none!important;
  }
  
  .snsbtniti{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
  }
  
  .snsbtniti li{
  flex:0 0 33%;
  text-align:center!important;
  }

.section1 {
  border: 1px solid rgb(235, 17, 17);
}

.section2 {
  border: 1px solid rgb(26, 231, 36);
}

.section5 {
  border: 1px solid rgb(15, 15, 15);
  width: 200px;
}
span.sample1 {/*名前のローマ字デザイン*/
    font-family: "Times New Roman";
}

h2{/*名前の色*/
  color:#494949
}
.seotext_01 {/*名前の下の線*/
  border-bottom:solid;
  border-color:#2c3e50;
  border-width:3px;/*3ピクセルの太さにする*/
  }
h3 {/*政策の横の線*/
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #2c3e50;/*左線*/
  }
  table.company {/*基本情報*/
    width: 500px;
    /* margin: 0 auto; */
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
    }
    
    table.company th,
    table.company td {
    padding: 10px;
    }
    
    table.company th {
    background: #2c3e50;
    vertical-align: middle;
    text-align: left;
    width: 100px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    }
    
    table.company th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #2c3e50;
    border-width: 10px;
    margin-top: -10px;
    }
    /* firefox */
    @-moz-document url-prefix() {
    table.company th::after {
    float: right;
    padding: 0;
    left: 30px;
    top: 10px;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    pointer-events: none;
    border: 10px solid transparent;
    border-left: #2c3e50 10px solid;
    margin-top: -10px;
    }
    }
    
    table.company td {
    background: #f8f8f8;
    width: 360px;
    padding-left: 20px;
    }
  .box2 {/*section4の枠線*/
      padding: 0.5em 1em;
      margin: 1em 0;
      font-weight: normal;
      color:#494949 ;/*文字色*/
      background: #FFF;
      border: solid 1px#494949 ;/*線*/
      border-radius: 10px;/*角の丸み*/
  }
  .box2 p {
      margin: 0; 
      padding: 0;
  }
  
.heart {
  width: 100px;  /* 正方形を作る */
  height: 100px; /* 正方形を作る */
  position: relative;/* 基準位置とする */
}
.heart::before,
.heart::after {
  content: "";  /* 疑似要素に必須 */
  width: 50%;   /* ハートの丸い部分の大きさにかかわる */
  height: 80%;  /* ハートの高さにかかわる */
  background: #E0548E; /* ハートの色 */
  border-radius: 25px 25px 0 0; /* ハートの半円を生成 */
  display: block; /* ブロック要素にする */
  position: absolute; /* 相対位置に指定 */
}
.heart::before {
  transform: rotate(-45deg); /* 左に回転 */
  left: 14%;                 /* 左からの位置を指定 */
}
.heart::after {
  transform: rotate(45deg);  /* 右に回転 */
  right: 14%;                /* 右からの位置を指定 */
}