@charset "utf-8";

/* ユニバーサルセレクタで余白リセット */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}


main {
    display: flex;
}

.parent {
    display: flex;
  }
  
  .left {
    width: 100px;
    height: 100px;
    background-color: #347bb8;
  }
  
  .right {
    width: 100px;
    height: 100px;
    background-color: #ffcd44;
  }
  
.box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width :500px;
}
.box11 p {
    margin: 0; 
    padding: 0;
}

.box12{
    padding: 1em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width :200px;
}
.box12 p {
    margin: 0; 
    padding: 0;
}