body {
    background-color: #1abc9c;
}

img {
    height: 190px;
    width: 160px;
}

#candidate-list {
    display: flex;
    flex-wrap: wrap;
    
}

#i_1, #i_2, #i_3 {
    display: flex;
    width: 35%;
    min-width: 500px;
    border: solid 1px #000000;
    margin: 10px;
    background-color: #ffffff;
}

ul {
    list-style: none;
    
}

li {
    overflow-wrap: break-all;
    margin: 10px 0;
}